<style type="text/css">

	.lista{
		width:100%;
		position: relative;
		
	}

	.headerTabla{
		width:100%;
		display: flex;
		height: 40px;
	}

	.cuerpoTabla{
		width:100%;
		display: flex;
		flex-direction: column ;
		border: 0.5px solid rgba(0,0,0,0.4);
		
		
	}

	.celdaHeader{
		
		text-align: center;
		font-size: 12px;
		font-weight: 800;
		border-bottom: 1px solid rgba(0,0,0,0.4);

	}

	.celda{
		
		text-align: center;
		font-size: 12px;
		padding:3px 0px 3px 0px;

	}

	.renglon{ 
		width:100%; 
		display: flex; 
		cursor: pointer;
	}

	.celda5{ width:5%; }
	.celda10{ width:10%; }
	.celda15{ width:15%; }
	.celda20{ width:20%; }
	.celda25{ width:25%; }
	.celda30{ width:30%; }
	.celda35{ width:35%; }
	.celda40{ width:40%; }
	.celda45{ width:45%; }
	.celda50{ width:50%; }
	.celda55{ width:55%; }
	.celda60{ width:60%; }
	.celda65{ width:65%; }
	.celda70{ width:70%; }
	.celda75{ width:75%; }
	.celda80{ width:80%; }

	.celdaEspecial{ width:5%; }
	.celdaEspecial:hover{ background-color:red; color:white; }


	.botonAgregar{
		width:150px;
		height: 25px;
		text-align: center;
		line-height: 23px;
		background-color: rgba(0,0,0,1);
		color: white;
		cursor: pointer;
		position: absolute;
		top:0;
		left:0;
	}

	.botonAgregar:hover{ background-color: rgba(0,0,155,1);}
	.botonAgregar:active{ background-color: rgba(0,155,0,1); top:1px; left:1px;}

	.cajaBuscar{
		width:250px;
		height: 25px;
		text-align: left;
		line-height: 23px;
		border: 1px solid gray;
		cursor: pointer;
		padding-left:4px;
		box-sizing: border-box;
		position:absolute;
		right:30px;
		overflow: hidden;

	}

	.botonBuscar{
		width:25px;
		height: 25px;
		text-align: left;
		line-height: 23px;
		cursor: pointer;
		padding-left:4px;
		box-sizing: border-box;
		position:absolute;
		right:0px;
		overflow: hidden;

	}


	.botonBuscar:hover{ background-color: rgba(0,255,0,0.2); }

	/* clase para que el conteeditable sea single line*/
	[contenteditable="true"].single-line {
	    white-space: nowrap;
	    width:200px;
	    overflow: hidden;
	} 
	
	[contenteditable="true"].single-line br {
	    display:none;

	}
	
	[contenteditable="true"].single-line * {
	    display:inline;
	    white-space:nowrap;
	}

    /* el placeholder del conteneditable */
	[contentEditable=true]:empty:not(:focus):before{
        content:attr(data-ph)
    }

	.renglon:nth-child(odd) {
      background-color: rgba(0,0,255,0);
  	}
  	
  	.renglon:nth-child(even) {
      background-color: rgba(0,0,255,0.10);
  	}

  	.renglon:hover{
     font-weight: 800;
    }


    .modalEditar{
    	position:absolute;
    	top:0px;
    	left:0px;
    	bottom:0px;
    	right:0px;
    	background-color: rgba(0,0,0,0.5);
    	padding:2em;
    	display:none;

    }

	.ventanaEditar{

	}

	/*************************************/
	
    .formulario {
    	
	    width: 60%;
	    padding: 0px;
	    background-color: white;
	    padding:10px;
	    position:relative;
	    box-sizing: border-box;
	    margin: auto auto;
	}


    .registro_form{
    	margin-top:40px;
    }
	
	.registro_form input[type='text'], 
	.registro_form select {
	    padding: 3px 5px;
	    background: transparent;
	    resize: none;
	    color: #5374b3;
	    border-style: none;
	    border-color: initial;
	    border-image: initial;
	    border: 0.5px solid rgba(0,0,0,0.5);
	    margin-bottom:5px;
	}

	.registro_form input {
    	width: 100%;
    	box-sizing: border-box;
    	
	}

	


	.formulario .tituloForm{
		width:100%;
		text-align: center;
		font-family: sans-serif;
		font-weight: 500;
		font-size: 18px;
		padding: 0px;
		box-sizing: border-box;
		color:white;
		background-color: black;
		position: absolute;
		top:0px;
		left:0px;
		height: 38px;
		line-height: 38px;


	}

	.botoneraAgregar{
		width:100%;
		display: flex;
		justify-content: center;
		margin: 10px 0px 10px 0px;
	}

	.boton{
		background-color: #e0e094;
		width:100px;
		height: 30px;
		line-height: 30px;
		text-align: center;
		margin-left: 10px;
		cursor: pointer;
	}

	.boton:hover{
		transform: scale(1.05);
	}

	.boton:active{
		transform: scale(0.95);
	}

	.rojo{ background-color: red; color:white; }
	.verde{ background-color: green; color:white; }


    .paginacion{
    	width:100%;
    	text-align: center;
    	margin-top:10px;


    }

    .celdaBorde{
    	border: 0.5px solid rgba(0,0,0,0.8);
	    text-align: center;
	    font-size: 12px;
	    padding: 0px;
	    box-sizing: border-box;
	    background: white;
	   
	    line-height: 20px;
	    margin-left: -1px;
    }

    .renglonForm{ 
		width: 70%;
	    display: flex;
	    box-sizing: border-box;
	    margin: 0 auto;
	}

	.nombreCampo{
		width:20%;
		text-align: right;
		padding-right: 15px;
	}

	.celdaCampo{
		width:80%;
		
	}

    .paginacion{
    	width: 100%;
    	display:flex;
    	justify-content: center;
    }

	.pagina{
		cursor: pointer;
		margin-left: 10px;
		text-decoration: underline;
	}

	.pagina:hover{
		font-weight: 800;
		color: blue;
	}

	.activa{
		text-decoration: none;
	}
	

   textarea {
   resize: none;
}
   

</style>



	<div class="lista">
		<div class="headerTabla">
			<div class="botonAgregar" onclick="modalAgregar[onshow.plantilla]()">Agregar</div>
			<div class="cajaBuscar single-line" id="buscar[onshow.plantilla]" contenteditable="true" data-ph="buscar..."></div>
			<div class="botonBuscar" onclick="buscar[onshow.plantilla]()"><i class="fa fa-search"></i></div>
		</div>

		<div class="cuerpoTabla">
			
			<div class="renglon">
				<div class="celdaHeader celda5">ID</div>
				<div class="celdaHeader celda35">Nombre</div>
				<div class="celdaHeader celda5">Año</div>
				<div class="celdaHeader celda20">Carrera</div>
				<div class="celdaHeader celda20">Comentario</div>
				<div class="celdaHeader celda5">Hab.</div>
				<div class="celdaHeader celda5"></div>
				<div class="celdaHeader celda5"></div>
				
			</div>	

			[bloque1;block=begin]  
			<div class="renglon" id="renglon[bloque1.ID]">
				<div class="celda celda5">[bloque1.ID]</div>
				<div class="celda celda35">[bloque1.nombre]</div>
				<div class="celda celda5">[bloque1.year]</div>
				<div class="celda celda20">[bloque1.carrera]</div>
				<div class="celda celda20">[bloque1.comentarios]</div>
				<div class="celda celdaEspecial" onclick="msgDesabilitar[onshow.plantilla]([bloque1.ID])">[bloque1.habilitado]</div>
				<div class="celda celdaEspecial" onclick="editar[onshow.plantilla]([bloque1.ID])">editar</div>
				<div class="celda celdaEspecial" onclick="msgBorrar[onshow.plantilla]([bloque1.ID])"><i class="fas fa-trash-alt"></i></div>
			</div>
			[bloque1;block=end]

            

		</div>

    </div>

    <div class="paginacion">
    	[bloque2;block=begin]  
    	 <div class="pagina [bloque2.clase]" onclick="paginar([bloque2.cantidad])">[bloque2.pagina]</div>
    	[bloque2;block=end]
  	</div>

    <div class="modalEditar">

       	<div class="formulario">
       		<div class="tituloForm">Agregar inscripción ingresante</div>
			<form id="frm[onshow.plantilla]" class="registro_form" autocomplete="off">
				
               <!------------------------------->

                <div class="renglonForm">
                    <div class="nombreCampo" style="width:40%">
                    	Nombre Materia
                    </div> 
                    <div class="celdaCampo">
                    	<input id="materia" type='text' value='' required />
					</div>
				</div>

				<!------------------------------->
				
				<div class="renglonForm">
                    <div class="nombreCampo" style="width:32%">
                    	Año
                    </div> 
                    <div class="celdaCampo" style="width:10%">
						<input  id="yearMateria" type='text' value='' required />
					</div>
				</div>

				<!------------------------------->
				
				<div class="renglonForm">
                    <div class="nombreCampo" style="width:40%">
                    	Carrera
                    </div> 
                    <div class="celdaCampo" id="comboCarrerasMaterias">
						
					</div>
				</div>

				<!------------------------------->
				
				<div class="renglonForm">
                    <div class="nombreCampo" style="width:40%">
                    	Comentarios
                    </div> 
                    <div class="celdaCampo">
						
						<textarea id="comentarioMateria" cols="35" rows="5" style="padding:5px"></textarea>
					</div>
				</div>

				

								
				<div class="botoneraAgregar">
			    	<div class="boton verde" onclick="agregarActualizar[onshow.plantilla]('agregar')"    id="Bagregar[onshow.plantilla]">Agregar</div>
			    	<div class="boton verde" onclick="agregarActualizar[onshow.plantilla]('actualizar')" id="Bactualizar[onshow.plantilla]">Actualizar</div>
			    	<div class="boton rojo" onclick="cancelar[onshow.plantilla]()">Cancelar</div>
			    </div>
			</form>
		</div>
	
	</div>
 


   

    <script type="text/javascript">

         var IDactualizar=null;
         var offsetPagina=[onshow.offsetPagina];

         ///////////////////////////////////////////////////// 
        function buscar[onshow.plantilla](){
        	var busqueda=$("#buscar[onshow.plantilla]").text();
        	busqueda=encodeURI(busqueda);
        	var archivo="crud/buscar.php?busqueda="+busqueda+"&tipo=profesores";
        	var activa=$(".active");
   		    $(activa[0].hash).load(archivo);

        } 


        //////////////////////////////////////////////
	    // se ejecuta cuando se termina de cargar
	    // es como un init de la subventana
	    $(function() {
	          botonesHabilitarCarreras();
	          
		});


		////////////////////////////////////////////////////
 		function botonesHabilitarCarreras(){

 			var celdas=$(".celdaEspecial");
 			console.log(celdas);

 			celdas.each(function(){ 
             	
             	if($(this).text()=="si"){ 
             		$(this).css("background","lime");
             	 	$(this).css("margin","2px");
             	 	$(this).css("color","black");
             	}
             	
             	if($(this).text()=="no"){
             		$(this).css("background","red");
             		$(this).css("margin","2px");
					$(this).css("color","white");
					
					// extrae el id de entre los parentesis
					// de l funcion del onclick del div
					var id=$(this).attr("onclick").match(/\((.*)\)/).pop();
					$(this).attr("onclick","habilitar[onshow.plantilla]("+id+")");
             	} 

           
             	console.log($(this).text());
            	
            });


 		}	

 	

        /////////////////////////////////////////////////////
        function paginar(offset, este){
        	var archivo="tabs/materias.php?offset="+offset;
        	var activa=$(".active");
   		    $(activa[0].hash).load(archivo);
            $(".panelModal").css("display","none");

        }

    	/////////////////////////////////////////////////////
    	// OK
    	function modalAgregar[onshow.plantilla](){
    		$(".modalEditar").show();
    		$(".botonAgregar").hide();
    		$(".cajaBuscar").hide();
    		$(".botonBuscar").hide();
    		$(".celdaEspecial").hide();
    		$(".paginacion").hide();
    		$( ":input:text" ).val("");
    		$( "textarea" ).val("");
    		
    		$("#Bagregar[onshow.plantilla]").show();
    		$("#Bactualizar[onshow.plantilla]").hide();
    		IDactualizar=null;

    		$("#comboCarrerasMaterias").load("crud/comboCarreras.php");


    		
    	}

    	/////////////////////////////////////////////////////
    	// OK
    	function cancelar[onshow.plantilla](){
    		$(".modalEditar").hide();
    		$(".botonAgregar").show();
    		$(".cajaBuscar").show();
    		$(".botonBuscar").show();
    		$(".celdaEspecial").show();
    		$(".paginacion").show();
    	}



    	
    	/////////////////////////////////////////////////////
    	function editar[onshow.plantilla](id){

    		var campoEditar = new Array("materia", "yearMateria", "comboCarrerasMaterias", "comentarioMateria");

            var campos=$("#renglon"+id).find("div");
            var i=-1;
            campos.each(function(){ 
             	$('#'+campoEditar[i]).val($(this).text());
             	console.log($(this).text());
            	i++;
            	if ( i > campoEditar.length-1) return false;
            });
            $(".modalEditar").show();

            $("#Bagregar[onshow.plantilla]").hide();
    		$("#Bactualizar[onshow.plantilla]").show();
    		$("#comboCarrerasMaterias").load("crud/comboCarreras.php");
    		IDactualizar=id;
    	}




    	////////////////////////////////////////////////////
	    // llama a la ventana modal si/no
	    // para ver si queres borrar un profesor
	    ////////////////////////////////////////////////////  
	    function msgBorrar[onshow.plantilla](id){
	      $(".tituloModal").html("¿Quiere borrar la materia con la id ="+id+"?");
	      $(".siModal").attr("onclick","borrar[onshow.plantilla]("+id+")");
	      $(".noModal").attr("onclick","quedarse()");
	      $(".panelModal").css("display","flex");
	    

	    }


    	/////////////////////////////////////////////////////
        function borrar[onshow.plantilla](id){
        	var archivo="crud/borrarMateria.php?id="+id;
        	var activa=$(".active");
   		    $(activa[0].hash).load(archivo);
            $(".panelModal").css("display","none");
	    
        }

        /////////////////////////////////////////////////////
 		function habilitar[onshow.plantilla](id){
 			var archivo="crud/habilitarMateria.php?id="+id+"&offset="+offsetPagina;;
        	var activa=$(".active");
   		    $(activa[0].hash).load(archivo);
            $(".panelModal").css("display","none");

 		}


        /////////////////////////////////////////////////////
        function deshabilitar[onshow.plantilla](id){
        	var archivo="crud/deshabilitarMateria.php?id="+id+"&offset="+offsetPagina+"&tipo=profesores";
        	var activa=$(".active");
   		    $(activa[0].hash).load(archivo);
            $(".panelModal").css("display","none");
	    
        }


	   

	    ////////////////////////////////////////////////////
	    // llama a la ventana modal si/no
	    // para ver si queres desabilitar un alumn
	    ////////////////////////////////////////////////////  
	    function msgDesabilitar[onshow.plantilla](id){
	      $(".tituloModal").text("¿Quiere deshabilitar la materia con la id ="+id+"?");
	      $(".siModal").attr("onclick","deshabilitar[onshow.plantilla]("+id+")");
	      $(".noModal").attr("onclick","quedarse()");
	      $(".panelModal").css("display","flex");
	    

	    }

	    /////////////////////////////////////////////////////
    	function agregarActualizar[onshow.plantilla](modo){

            if(verificar[onshow.plantilla](modo)==false) return;

            if (modo=="agregar") id="";
            if (modo=="actualizar") id=IDactualizar;


		    var materia=$("#frm[onshow.plantilla]").find("#materia").val();
		    var yearMateria=$("#frm[onshow.plantilla]").find("#yearMateria").val();
		    var carreraID=$("#frm[onshow.plantilla]").find("#comboCarrerasMaterias option:selected").val();
		    var carrera=$("#frm[onshow.plantilla]").find("#comboCarrerasMaterias option:selected").text();
		    var comentario=$("#frm[onshow.plantilla]").find("#comentarioMateria").val();
		   

		    var qs="?id="+id+"&materia="+materia+"&year="+yearMateria+"&carreraID="+carreraID+"&carrera="+carrera+"&comentario="+comentario;
		    qs=encodeURI(qs);
		 

		    if(modo=="agregar") var archivo="crud/agregarMateria.php"+qs;
		    if(modo=="actualizar") var archivo="crud/actualizarMateria.php"+qs;
		    
		    console.log(archivo);
        	var activa=$(".active");
   		    $(activa[0].hash).load(archivo);
		    cancelar[onshow.plantilla]();
			   
		    
    	}


    	/////////////////////////////////////////////////////////
    	// verifica los campos del formulario
    	// si no estan vacios o en el caso del numerico si
    	// no se introdujo un numero y en el de email
    	// si no se introdujo una direccion de email valida
    	///////////////////////////////////////////////////////
    	function verificar[onshow.plantilla](modo){


    		var estado=true;
    		var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
    		var campo=$("#frm[onshow.plantilla]").find( ":input:text" );
 			campo.css("background","white");
            campo.each(function(){
            	
            	if($(this).val() == ""){
            		if(modo=="actualizar" && $(this).attr("name")== "password"){ 
            			estado=true;
            			return false;
            		}
            		alert("Debe ingresar "+$(this).attr("name"));
            		$(this).focus();
            		$(this).css("background","pink");
            		estado=false;
            		return false;
            	} 


            	if($(this).attr("tipo") == "numero"){
            		var valor=$(this).val();
            		if (!/^([0-9])*$/.test(valor)){
            			alert("Debe ingresar un valor numerico");
            			$(this).focus();
            			$(this).css("background","pink");
            			estado=false;
            			return false;
            		}
            	} 
           	
            	if($(this).attr("tipo") == "email"){
            		var valor=$(this).val();

            		if(!emailReg.test(valor)){
            			alert("La direccin de email no está bien escrita");
            			$(this).focus();
            			$(this).css("background","pink");
            			estado=false;
            			return false;
            		}
            	}

            		

           	});

           	var carreraID=$("#frm[onshow.plantilla]").find("#comboCarrerasMaterias option:selected").val();
           	if (carreraID=="null"){
           		alert("Debe elegir una carrera");
            	return false;

           	}

           	return estado;
    	}

    </script>

