<style type="text/css">

	.lista{
		width:100%;
		position: relative;
		
	}

	.headerTabla{
		width:100%;
		display: flex;
		height: 40px;
	}

	.cuerpoTabla{
		width:100%;
		display: flex;
		flex-direction: column ;
		border: 0.5px solid rgba(0,0,0,0.4);
		
		
	}

	.celdaHeader{
		
		text-align: center;
		font-size: 12px;
		font-weight: 800;
		border-bottom: 1px solid rgba(0,0,0,0.4);

	}

	.celda{
		
		text-align: center;
		font-size: 12px;
		padding:3px 0px 3px 0px;

	}

	.renglon{ 
		width:100%; 
		display: flex; 
		cursor: pointer;
	}

	.celda5{ width:5%; }
	.celda15{ width:15%; }
	.celda20{ width:20%; }
	.celda25{ width:25%; }
	.celda50{ width:90%; }

	.celdaEspecial{ width:5%; }
	.celdaEspecial:hover{ background-color:red; color:white; }


	.botonAgregar{
		width:150px;
		height: 25px;
		text-align: center;
		line-height: 23px;
		background-color: rgba(0,0,0,1);
		color: white;
		cursor: pointer;
		position: absolute;
		top:0;
		left:0;
	}

	.botonAgregar:hover{ background-color: rgba(0,0,155,1);}
	.botonAgregar:active{ background-color: rgba(0,155,0,1); top:1px; left:1px;}

	.cajaBuscar{
		width:250px;
		height: 25px;
		text-align: left;
		line-height: 23px;
		border: 1px solid gray;
		cursor: pointer;
		padding-left:4px;
		box-sizing: border-box;
		position:absolute;
		right:30px;
		overflow: hidden;

	}

	.botonBuscar{
		width:25px;
		height: 25px;
		text-align: left;
		line-height: 23px;
		cursor: pointer;
		padding-left:4px;
		box-sizing: border-box;
		position:absolute;
		right:0px;
		overflow: hidden;

	}


	.botonBuscar:hover{ background-color: rgba(0,255,0,0.2); }

	/* clase para que el conteeditable sea single line*/
	[contenteditable="true"].single-line {
	    white-space: nowrap;
	    width:200px;
	    overflow: hidden;
	} 
	
	[contenteditable="true"].single-line br {
	    display:none;

	}
	
	[contenteditable="true"].single-line * {
	    display:inline;
	    white-space:nowrap;
	}

    /* el placeholder del conteneditable */
	[contentEditable=true]:empty:not(:focus):before{
        content:attr(data-ph)
    }

	.renglon:nth-child(odd) {
      background-color: rgba(0,0,255,0);
  	}
  	
  	.renglon:nth-child(even) {
      background-color: rgba(0,0,255,0.10);
  	}

  	.renglon:hover{
     font-weight: 800;
    }


    .modalEditar{
    	position:absolute;
    	top:0px;
    	left:0px;
    	bottom:0px;
    	right:0px;
    	background-color: rgba(0,0,0,0.5);
    	padding:2em;
    	display:none;

    }

	.ventanaEditar{

	}

	/*************************************/
	
    .formulario {
    	
	    width: 60%;
	    padding: 0px;
	    background-color: white;
	    padding:10px;
	    position:relative;
	    box-sizing: border-box;
	    margin: auto auto;
	}


    .registro_form{
    	margin-top:40px;
    }
	
	.registro_form input[type='text'], 
	.registro_form select {
	    padding: 3px 5px;
	    background: transparent;
	    resize: none;
	    color: #5374b3;
	    border-style: none;
	    border-color: initial;
	    border-image: initial;
	    border: 0.5px solid rgba(0,0,0,0.5);
	    margin-bottom:5px;
	}

	.registro_form input {
    	width: 100%;
    	box-sizing: border-box;
    	
	}

	


	.formulario .tituloForm{
		width:100%;
		text-align: center;
		font-family: sans-serif;
		font-weight: 500;
		font-size: 18px;
		padding: 0px;
		box-sizing: border-box;
		color:white;
		background-color: black;
		position: absolute;
		top:0px;
		left:0px;
		height: 38px;
		line-height: 38px;


	}

	.botoneraAgregar{
		width:100%;
		display: flex;
		justify-content: center;
		margin: 10px 0px 10px 0px;
	}

	.boton{
		background-color: #e0e094;
		width:100px;
		height: 30px;
		line-height: 30px;
		text-align: center;
		margin-left: 10px;
		cursor: pointer;
	}

	.boton:hover{
		transform: scale(1.05);
	}

	.boton:active{
		transform: scale(0.95);
	}

	.rojo{ background-color: red; color:white; }
	.verde{ background-color: green; color:white; }


    .paginacion{
    	width:100%;
    	text-align: center;
    	margin-top:10px;


    }

    .celdaBorde{
    	border: 0.5px solid rgba(0,0,0,0.8);
	    text-align: center;
	    font-size: 12px;
	    padding: 0px;
	    box-sizing: border-box;
	    background: white;
	   
	    line-height: 20px;
	    margin-left: -1px;
    }

    .renglonForm{ 
		width: 70%;
	    display: flex;
	    box-sizing: border-box;
	    margin: 0 auto;
	}

	.nombreCampo{
		width:20%;
		text-align: right;
		padding-right: 15px;
	}

	.celdaCampo{
		width:80%;
		
	}

    .paginacion{
    	width: 100%;
    	display:flex;
    	justify-content: center;
    }

	.pagina{
		cursor: pointer;
		margin-left: 10px;
		text-decoration: underline;
	}

	.pagina:hover{
		font-weight: 800;
		color: blue;
	}

	.activa{
		text-decoration: none;
	}
	

   

</style>



	<div class="lista">
		

		<div class="cuerpoTabla" id="tablaAlumnos">
			
			<div class="renglon">
				<div class="celdaHeader celda5">ID</div>
				<div class="celdaHeader celda50">texto mensaje</div>
				
				<div class="celdaHeader celda5"></div>
				<div class="celdaHeader celda5"></div>
			</div>	

			[bloque1;block=begin]  
			<div class="renglon" id="renglon[bloque1.ID]">
				<div class="celda celda5">[bloque1.ID]</div>
				<div class="celda celda50">[bloque1.texto]</div>
				
				<div class="celda celdaEspecial" onclick="msgBorrar[onshow.plantilla]([bloque1.ID])"><i class="fas fa-trash-alt"></i></div>
			</div>
			[bloque1;block=end]

            

		</div>

    </div>

    



   

    <script type="text/javascript">

         var IDactualizar=null;
         var offsetPagina=[onshow.offsetPagina];


       

    	////////////////////////////////////////////////////
	    // llama a la ventana modal si/no
	    // para ver si queres borrar un alumno
	    ////////////////////////////////////////////////////  
	    function msgBorrar[onshow.plantilla](id){
	      $(".tituloModal").text("¿Quiere borrar el mensaje con la id ="+id+"?");
	      $(".siModal").attr("onclick","borrar[onshow.plantilla]("+id+")");
	      $(".noModal").attr("onclick","quedarse()");
	      $(".panelModal").css("display","flex");
	    

	    }


    	/////////////////////////////////////////////////////
        function borrar[onshow.plantilla](id){
        	var archivo="crud/borrarMensaje.php?id="+id+"&offset="+offsetPagina+"&tipo=alumnos";
        	var activa=$(".active");
   		    $(activa[0].hash).load(archivo);
            $(".panelModal").css("display","none");
	    
        }


        

    </script>

